@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('@/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('@/assets/fonts/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('@/assets/fonts/OpenSans-Bold.ttf');
}
